<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.pollub.app2803">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="BearI TTT"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoinFlip"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BIGame"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Game3x" />
        <activity android:name=".Game1x"></activity>
    </application>

</manifest>